/* Header ----------------- */

.header-logo {
  margin-left: auto;
  margin-right: auto;
  width: 504px;
}

.logo {
  height: 100px;

}


/* Navigation ----------------- */



/*.navbar-collapse {
  float: right;
}

.navbar-toggle {
  float: right;
}

.container-fluid {
max-width: 100%;
}

ul.checkAvailability {
  float: left;
}*/

.cta {
  margin-left: auto;
  margin-right: auto;
  width: 160px;
}
.btn-default {
  color: #777;
  background-color: #fff;
  border-color: #777;
  border-radius: 0;
}
.btn-default:hover {
  color: #333;
  background-color: #fff;
  border-color: #333;
}
.header-nav {
  display: inline-block;
}
.navbar {
  border: 0;
  text-align: center;
  margin-bottom: 0;
}
.navbar-header {
  margin-left: auto;
  margin-right: auto;
}
.navbar-toggle {
  border-radius: 0;
  border: 1px solid;
  background-color: #fff;
}
.button .navbar-toggle:hover {
  background-color: #000;
}
.navbar-default .navbar-toggle {
  border-color: #777;
}
.navbar-default {
  background-color: #fff;
  text-color: #777;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
/* Body ----------------- */


/* Body: Home Page */

.home {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
}

.jumbotron {
  max-width: 1200px;
  margin: 0 auto;
}

.home-jumbotron {
  height: 600px;
}

/* Footer ----------------- */
