/* Global ----------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Baskerville', serif;
}


/* Header ----------------- */

.header-logo {
  margin-left: auto;
  margin-right: auto;
  width: 504px;
}
.logo {
  height: 100px;
}
a:-webkit-any-link {
  text-decoration: none !important;
}

/* Navigation ----------------- */



/*.navbar-collapse {
  float: right;
}

.navbar-toggle {
  float: right;
}

.container-fluid {
max-width: 100%;
}

ul.checkAvailability {
  float: left;
}*/

.cta {
  margin-left: auto;
  margin-right: auto;
  width: 160px;
}
.btn-default {
  color: #777;
  background-color: #fff;
  border-color: #777;
  border-radius: 0;
}
.btn-default:hover {
  color: #333;
  background-color: #fff;
  border-color: #333;
}
.header-nav {
  display: inline-block;
}
.navbar {
  border: 0;
  text-align: center;
  margin-bottom: 0;
}
.navbar-header {
  margin-left: auto;
  margin-right: auto;
}
.navbar-toggle {
  border-radius: 0;
  border: 1px solid;
  background-color: #fff;
}
.button .navbar-toggle:hover {
  background-color: #000;
}
.navbar-default .navbar-toggle {
  border-color: #777;
}
.navbar-default {
  background-color: #fff;
  text-color: #777;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
/* Body ----------------- */


/* Body: Home Page */

.home {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
}

.jumbotron {
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;
  background-image: url("/assets/img/mainhouse-summer-jumbo.jpg");
  background-size: cover;}
}

.home-jumbotron {
  height: 600px;
}

/* Body: Rooms and Rates */
.row-fluid .span6 {
  width: 49%;
  float: left;
  margin-left: 1%;
}
.row-fluid .span12 {
  width: 100%;
}
.row-fluid .span12:first-child {
  margin-left: 0;
  margin-top: 20px;
}
.row-fluid::after {
  clear: both;
}
.row-fluid::before, .row-fluid::after {
  display: table;
  line-height: 0;
  content: "";
}
.rooms-landing .display{
  float:right;
  overflow:hidden;
  margin:2em 0 3em;
}

.rooms-landing .display li{
  display:inline-block;
}

.rooms-landing .display li:first-child{
  margin-right:15px;
}
.display-list span, .display-grid span{
  display:inline-block;
  height:20px;
  width:20px;
  margin-right:10px;
  position: relative;
  top:4px;
}
.rooms > .row-fluid,
.rooms > em .row-fluid{
  margin-bottom:35px;
}

.rooms > .row-fluid:last-child{
  margin-bottom:0;
}
.rooms.list .row-fluid,
.rooms.grid .row-fluid {
  border-top:1px solid #e6e2d7;
  padding-top:3em
}

.rooms.grid ul {display:block; width:100%; text-align:right; overflow:hidden; border-top:1px solid #E6E2D7; padding-top: 1.9em;
  margin-top: 0;}

.rooms.list .row-fluid:first-child {
  border:none;
  padding-top:0
}
.rooms{
  position: relative;
  margin-top:25px;
}

.room-image{
  float:left;
}

.rooms .room-image img{
  width:100%;
  height:auto;
}
.grid .room{
  width:48%;
  display:inline-block;
  position: relative;
}

.grid .room p, .grid .room ul.amenities{
  display:none !important;
}
.grid .room h2{
  text-align:center;
  margin-top:15px;
}

.grid .room:nth-child(even){
  margin-right:3.125%;
}


/* Footer ----------------- */
