<div class="jumbotron individual-room" style="background-image:url('{{ jumbo-img }}');">
</div>

<div class="container">
  <div class="room-info">
    <h2>{{ title }}</h2>

    {{ content }}

    <div class="amenities">
      <h4>Amenities</h4>
      <ul class="amenities">
        {{ amenities }}
          <li>{{ value }}</li>
        {{ /amenities }}
      </ul>
    </div>

    <div class="rates">
      <h4>Rates</h4>
      {{ rates }}

        <strong>{{ date }}</strong><br>
        {{ day }}<br>

      {{ /rates }}
    </div>

  </div>
</div>
