<div class="content rooms-landing">

  {{ content }}

  <div class="rooms list">

    <ul class="display unstyled hidden-phone">
      <li class="display-list"><a href="#"><i class="fa fa-list-ul"></i> List</a></li>
      <li class="display-grid"><a href="#"><i class="fa fa-th-large"></i> Grid</a></li>
    </ul>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/room-1/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Room 1" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/room-1/">Room 1: Door County Orchard</a> | <span>$100-$165</span></h2>
          <p>Captivating fabric in bright red and green trims all six windows in this sunny room. This picnic of colors creates a cheerful setting for the four-poster 1840’s canopy bed. The luxurious bathroom is in the adjoining tower.</p>
          <div class="amenities"><ul class="amenities"><li>Queen bed</li><li>Queen size whirlpool</li><li>TV-VCR-DVD</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/room-2/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Room 2" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/room-2/">Room 2: Old Garden Roses</a> | <span>$100-$155</span></h2>
          <p>Large windows, light colored fabrics and walls create a charming backdrop for the elegant 1880’s Renaissance Victorian bed. An Empire sofa provides comfortable seating. Walls are bouquets of roses in soft pastels on a pale yellow background.</p>
          <div class="amenities"><ul class="amenities"><li>Queen bed</li><li>Double size whirlpool</li><li>TV-VCR</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/room-3/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Room 3" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/room-3/">Room 3: English Lavender</a> | <span>$70-$145</span></h2>
          <p>Enter a country fresh world of lavender and green in this romantic little room. The handsome cherry four-poster bed is dressed in lavender and green linens. The bathroom is tiled in white and lavender Italian tile.</p>
          <div class="amenities"><ul class="amenities"><li>Double bed</li><li>Double size whirlpool</li><li>TV-VCR</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/room-4/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Room 4" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/room-4/">Room 2: Romantic Retreat</a> | <span>$130-$195</span></h2>
          <p>A charming mix of floral fabrics in apricot and green decorate the windows, a Victorian loveseat, and the four-poster canopy bed. A TV is hidden above the fireplace which you can view both from the beautiful bed or relaxing whirlpool.</p>
          <div class="amenities"><ul class="amenities"><li>Queen bed</li><li>Queen size whirlpool</li><li>Double shower</li><li>Gas fireplace</li><li>27" TV-DVD-VCR with surround sound</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/room-6/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Room 6" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/room-6/">Room 6: Vintage Rose</a> | <span>$70-$145</span></h2>
          <p>Snuggle into this classic Sheraton four-poster bed with a bowed canopy. Walls are covered with pastel vintage roses on a white background and complemented by Waverly fabric with extravagant bouquets of roses on a yellow background.</p>
          <div class="amenities"><ul class="amenities"><li>Queen bed</li><li>Tub-shower</li><li>Wood burning fireplace</li><li>Ground floor</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/room-7/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Room 7" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/room-7/">Room 7: Garden View</a> | <span>$80-$155</span></h2>
          <p>Look out of the bay windows to see the seasons change from bright garden florals to winter whites. Walls are covered with a large pastel floral wallpaper. Across from the fireplace is a comfortable sofa and the 1880’s Victorian cherry bed.</p>
          <div class="amenities"><ul class="amenities"><li>Queen bed</li><li>Tub-shower</li><li>Wood burning fireplace</li><li>TV</li><li>Ground floor</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/room-8/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Room 8" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/room-8/">Room 8: English Country</a> | <span>$90-$165</span></h2>
          <p>Look out of the bay windows to see the seasons change from bright garden florals to winter whites. Walls are covered with a large pastel floral wallpaper. Across from the fireplace is a comfortable sofa and the 1880’s Victorian cherry bed.</p>
          <div class="amenities"><ul class="amenities"><li>Queen bed</li><li>Tub-shower</li><li>Wood burning fireplace</li><li>TV-VCR</li><li>Porch</li><li>Ground floor accessible</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/room-9/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Room 9" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/room-9/">Room 9: Casual Victorian</a> | <span>$80-$155</span></h2>
          <p>A romantic 1860’s Victorian walnut bed is tucked beneath the eaves. This room is decorated in a wonderful mix of Ralph Lauren’s most popular floral fabrics in shades of moss green, peach and rose - a serene and refined look.</p>
          <div class="amenities"><ul class="amenities"><li>Queen bed</li><li>Shower</li><li>Wood burning fireplace</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/room-10/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Room 10" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/room-10/">Room 10: Secret Garden</a> | <span>$70-$145</span></h2>
          <p>Romance reigns as airy lace covers an 1840’s four-poster canopy walnut bed. This room overlooks the gardens and is a secret garden of blue and yellow floral prints on the fabrics, walls and ceiling.</p>
          <div class="amenities"><ul class="amenities"><li>Queen bed</li><li>Shower</li><li>Wood burning fireplace</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/room-11/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Room 11" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/room-11/">Room 11: The Hideaway</a> | <span>$90-$165</span></h2>
          <p>This second story hideaway has lots of old-fashioned charm, starting with its moss green and peach color scheme. A down filled chaise lounge faces the fireplace and is across from the beautifully carved 1870’s Victorian mahogany bed.</p>
          <div class="amenities"><ul class="amenities"><li>Queen bed</li><li>Tub-shower</li><li>Wood burning fireplace</li><li>TV-VCR</li><li>Balcony</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/suite-16/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Suite 16" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/suite-16/">Suite 16: Winter Warmth</a> | <span>$150-$225</span></h2>
          <p>A refined atmosphere is created combining antique oriental carpets in warm shades of blue and red, with pastel floral Ralph Lauren fabrics on a winter white back-ground. In the bedroom, a handsome pencil post bed in glowing tiger maple views the corner fireplace. The comfy sofa in the sitting room faces an entertainment center and the two-sided fireplace. The whirlpool in the bathroom also views the fireplace.</p>
          <div class="amenities"><ul class="amenities"><li>King bed</li><li>Queen size whirlpool</li><li>Two gas fireplaces</li><li>32" TV-DVD-VCR with surround sound</li><li>Ground Floor</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/suite-17/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Suite 17" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/suite-17/">Suite 17: Country Summer</a> | <span>$160-$235</span></h2>
          <p>Crisp linen fabrics in sunny yellow florals on sky blue backgrounds, cover the sofa and chairs that wait invitingly in front of the "wall of windows" that face the Inn’s flower gardens. Your own back porch and patio overlook the gardens. The Country Empire tall post bed with a canopy is "dressed" in blue and yellow. The bed, sitting area and whirlpool all view the beautiful fireplace mantel, that was locally crafted out of butternut and cherry.</p>
          <div class="amenities"><ul class="amenities"><li>King bed</li><li>King size whirlpool</li><li>Gas fireplace</li><li>32" TV-DVD-VCR with surround sound</li><li>Porch</li><li>Ground Floor</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/suite-18/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Suite 18" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/suite-18/">Suite 18: Fall Festival</a> | <span>$150-$225</span></h2>
          <p>Timeless and romantic - an overstuffed sofa piled high with pillows, French toile wallpaper in natural tones, and Ralph Lauren fabrics in shades of mellow green and rose. The exceptional bed is a mahogany plantation canopy four post. Wherever you relax you view a fireplace, including the whirlpool that’s beneath a corner of windows in the bathroom. View the stars from a little balcony off the bathroom.</p>
          <div class="amenities"><ul class="amenities"><li>King bed</li><li>Queen size whirlpool</li><li>Two gas fireplaces</li><li>27" TV-DVD-VCR with surround sound</li><li>Small balcony</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/suite-19/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Suite 19" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/suite-19/">Suite 19: Spring Floral</a> | <span>$160-$235</span></h2>
          <p>The focal point of this spacious one room suite is a magnificent hand carved plantation canopy bed. A sofa and two chairs are covered with white slipcovers and stand out glowingly from the curtains’ colorful spring floral linen fabric. Walls are covered with tiny lavender and green flowers on a crisp white background. The second story private balcony overlooks the gardens, lilac bushes and the gazebo. A hand painted lilac bush is in continuous bloom on the bathroom wall.</p>
          <div class="amenities"><ul class="amenities"><li>King bed</li><li>King size whirlpool</li><li>Gas fireplace</li><li>32" TV-DVD-VCR with surround sound</li><li>Balcony</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/room-a/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Room A" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/room-a/">Room A: Royal Chamber</a> | <span>$130-$195</span></h2>
          <p>Luxuriate in the regal four-poster 1840’s cherry bed. Pastel yellow and white striped walls set off Ralph Lauren’s crisp, bright floral fabric on windows and bed linens. An overstuffed love seat and wicker chair make a comfortable seating area by the fireplace. The bright bath- room is a mix of coordinating florals.</p>
          <div class="amenities"><ul class="amenities"><li>Queen bed</li><li>Queen size whirlpool</li><li>Gas fireplace</li><li>TV-VCR</li><li>Ground floor</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/suite-b/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Suite B" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/suite-b/">Suite B: Victorian Suite</a> | <span>$150-$225</span></h2>
          <p>Welcome to Victorian serenity in this lovely suite. A wine colored floral carpet with pastel roses warms your feet. The walls and fabrics are light colors in shades of yellow, rose and green. There’s a bedroom and a separate sitting room with a two-sided fireplace that you can view from both rooms. The bed is a magnificent walnut 1880’s Eastlake Victorian with a matching marble top dresser. The large tile bathroom has glass French doors and hand painted walls.</p>
          <div class="amenities"><ul class="amenities"><li>Queen bed</li><li>Queen size whirlpool</li><li>Gas fireplace</li><li>2 TV-VCR’s-DVD</li><li>Ground floor</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/room-c/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Room C" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/room-c/">Room C: Wild Roses</a> | <span>$130-$195</span></h2>
          <p>This romantic setting has the feeling of an enchanted summer cottage with white wainscoted ceiling and walls. Above the wainscoting the white walls are hand-painted with rambling wild roses and the floor is covered with a patterned wool Ax Minster carpet from England. A wicker love seat and chair look inviting in front of the fireplace and the lovely 1895 canopy bed was handmade in the Amana colonies.</p>
          <div class="amenities"><ul class="amenities"><li>Queen bed</li><li>Queen size whirlpool</li><li>Gas fireplace</li><li>TV-VCR</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>
    <div class="row-fluid room">
      <div class="span12">
        <div class="span6">
          <a href="{{ page_url }}/room-d/"><img width="460" height="280" src="holder.js/460x280" class="attachment-room wp-post-image" alt="Room D" /></a>
        </div>
        <div class="description span6">
          <h2><a href="{{ page_url }}/room-d/">Room D: Country Cottage</a> | <span>$130-$195</span></h2>
          <p>You will quickly feel at home in this charming room with its soft yellow, winding floral wallpaper on the ceiling and coordinating wallpaper on the walls. Another pastel floral fabric is splashed on the comfortable wicker chairs across from the fireplace. The bed is an ornately carved 1840’s four-poster. The bathroom has a pretty lavender Italian tile floor.</p>
          <div class="amenities"><ul class="amenities"><li>Queen bed</li><li>Queen size whirlpool</li><li>Gas fireplace</li><li>TV-VCR</li><li>Wi-Fi</li></ul></div>
        </div>
      </div>
    </div>

  </div> <!-- Rooms List -->

</div>
