<div class="container">
  <div class="content rooms-landing">

    {{ content }}

    <div class="rooms list">

      {{ get_content from="rooms-and-rates/room-1/"}}
      <div class="room col-xs-12">
        <div class="room-image col-md-7 col-sm-12">
          <a href="{{ page_url }}/room-1/"><img src="{{ img1 }}" class="room-image img-responsive" alt="Room 1" /></a>
        </div>
        <div class="description col-md-5 col-sm-12">
          <h2><a href="{{ page_url }}/room-1/">{{ title }}</a> | <span>{{ range }}</span></h2>
          {{ content }}
        </div>
      </div>
      {{ /get_content }}

      {{ get_content from="rooms-and-rates/room-2/"}}
      <div class="room col-xs-12">
        <div class="room-image col-md-7 col-sm-12">
          <a href="{{ page_url }}/room-2/"><img src="{{ img1 }}" class="room-image img-responsive" alt="Room 2" /></a>
        </div>
        <div class="description col-md-5 col-sm-12">
          <h2><a href="{{ page_url }}/room-2/">{{ title }}</a> | <span>{{ range }}</span></h2>
          {{ content }}
        </div>
      </div>
      {{ /get_content }}

      {{ get_content from="rooms-and-rates/room-3/"}}
      <div class="row-fluid room">
        <div class="span12">
          <div class="span6">
            <a href="{{ page_url }}/room-3/"><img width="460" height="280" src="holder.js/460x280" class="room-image" alt="Room 3" /></a>
          </div>
          <div class="description span6">
            <h2><a href="{{ page_url }}/room-3/">{{ title }}</a> | <span>{{ range }}</span></h2>
            {{ content }}
          </div>
        </div>
      </div>
      {{ /get_content }}

      {{ get_content from="rooms-and-rates/room-4/"}}
      <div class="row-fluid room">
        <div class="span12">
          <div class="span6">
            <a href="{{ page_url }}/room-4/"><img width="460" height="280" src="holder.js/460x280" class="room-image" alt="Room 4" /></a>
          </div>
          <div class="description span6">
            <h2><a href="{{ page_url }}/room-4/">{{ title }}</a> | <span>{{ range }}</span></h2>
            {{ content }}
          </div>
        </div>
      </div>
      {{ /get_content }}

      {{ get_content from="rooms-and-rates/room-6/"}}
      <div class="row-fluid room">
        <div class="span12">
          <div class="span6">
            <a href="{{ page_url }}/room-6/"><img width="460" height="280" src="holder.js/460x280" class="room-image" alt="Room 6" /></a>
          </div>
          <div class="description span6">
            <h2><a href="{{ page_url }}/room-6/">{{ title }}</a> | <span>{{ range }}</span></h2>
            {{ content }}
          </div>
        </div>
      </div>
      {{ /get_content }}

      {{ get_content from="rooms-and-rates/room-7/"}}
      <div class="row-fluid room">
        <div class="span12">
          <div class="span6">
            <a href="{{ page_url }}/room-7/"><img width="460" height="280" src="holder.js/460x280" class="room-image" alt="Room 7" /></a>
          </div>
          <div class="description span6">
            <h2><a href="{{ page_url }}/room-7/">{{ title }}</a> | <span>{{ range }}</span></h2>
            {{ content }}
          </div>
        </div>
      </div>
      {{ /get_content }}

      {{ get_content from="rooms-and-rates/room-8/"}}
      <div class="row-fluid room">
        <div class="span12">
          <div class="span6">
            <a href="{{ page_url }}/room-8/"><img width="460" height="280" src="holder.js/460x280" class="room-image" alt="Room 8" /></a>
          </div>
          <div class="description span6">
            <h2><a href="{{ page_url }}/room-8/">{{ title }}</a> | <span>{{ range }}</span></h2>
            {{ content }}
          </div>
        </div>
      </div>
      {{ /get_content }}

      {{ get_content from="rooms-and-rates/room-9/"}}
      <div class="row-fluid room">
        <div class="span12">
          <div class="span6">
            <a href="{{ page_url }}/room-9/"><img width="460" height="280" src="holder.js/460x280" class="room-image" alt="Room 9" /></a>
          </div>
          <div class="description span6">
            <h2><a href="{{ page_url }}/room-9/">{{ title }}</a> | <span>{{ range }}</span></h2>
            {{ content }}
          </div>
        </div>
      </div>
      {{ /get_content }}

      {{ get_content from="rooms-and-rates/room-10/"}}
      <div class="row-fluid room">
        <div class="span12">
          <div class="span6">
            <a href="{{ page_url }}/room-10/"><img width="460" height="280" src="holder.js/460x280" class="room-image" alt="Room 10" /></a>
          </div>
          <div class="description span6">
            <h2><a href="{{ page_url }}/room-10/">{{ title }}</a> | <span>{{ range }}</span></h2>
            {{ content }}
          </div>
        </div>
      </div>
      {{ /get_content }}

      {{ get_content from="rooms-and-rates/room-11/"}}
      <div class="row-fluid room">
        <div class="span12">
          <div class="span6">
            <a href="{{ page_url }}/room-11/"><img width="460" height="280" src="holder.js/460x280" class="room-image" alt="Room 11" /></a>
          </div>
          <div class="description span6">
            <h2><a href="{{ page_url }}/room-11/">{{ title }}</a> | <span>{{ range }}</span></h2>
            {{ content }}
          </div>
        </div>
      </div>
      {{ /get_content }}

      {{ get_content from="rooms-and-rates/suite-16/"}}
      <div class="row-fluid room">
        <div class="span12">
          <div class="span6">
            <a href="{{ page_url }}/suite-16/"><img width="460" height="280" src="holder.js/460x280" class="room-image" alt="Suite 16" /></a>
          </div>
          <div class="description span6">
            <h2><a href="{{ page_url }}/suite-16/">{{ title }}</a> | <span>{{ range }}</span></h2>
            {{ content }}
          </div>
        </div>
      </div>
      {{ /get_content }}

      {{ get_content from="rooms-and-rates/suite-17/"}}
      <div class="row-fluid room">
        <div class="span12">
          <div class="span6">
            <a href="{{ page_url }}/suite-17/"><img width="460" height="280" src="holder.js/460x280" class="room-image" alt="Suite 17" /></a>
          </div>
          <div class="description span6">
            <h2><a href="{{ page_url }}/suite-17/">{{ title }}</a> | <span>{{ range }}</span></h2>
            {{ content }}
          </div>
        </div>
      </div>
      {{ /get_content }}

      {{ get_content from="rooms-and-rates/suite-18/"}}
      <div class="row-fluid room">
        <div class="span12">
          <div class="span6">
            <a href="{{ page_url }}/suite-18/"><img width="460" height="280" src="holder.js/460x280" class="room-image" alt="Suite 18" /></a>
          </div>
          <div class="description span6">
            <h2><a href="{{ page_url }}/suite-18/">{{ title }}</a> | <span>{{ range }}</span></h2>
            {{ content }}
          </div>
        </div>
      </div>
      {{ /get_content }}

      {{ get_content from="rooms-and-rates/suite-19/"}}
      <div class="row-fluid room">
        <div class="span12">
          <div class="span6">
            <a href="{{ page_url }}/suite-19/"><img width="460" height="280" src="holder.js/460x280" class="room-image" alt="Suite 19" /></a>
          </div>
          <div class="description span6">
            <h2><a href="{{ page_url }}/suite-19/">{{ title }}</a> | <span>{{ range }}</span></h2>
            {{ content }}
          </div>
        </div>
      </div>
      {{ /get_content }}

      {{ get_content from="rooms-and-rates/room-a/"}}
      <div class="row-fluid room">
        <div class="span12">
          <div class="span6">
            <a href="{{ page_url }}/room-a/"><img width="460" height="280" src="holder.js/460x280" class="room-image" alt="Room A" /></a>
          </div>
          <div class="description span6">
            <h2><a href="{{ page_url }}/room-a/">{{ title }}</a> | <span>{{ range }}</span></h2>
            {{ content }}
          </div>
        </div>
      </div>
      {{ /get_content }}

      {{ get_content from="rooms-and-rates/suite-b/"}}
      <div class="row-fluid room">
        <div class="span12">
          <div class="span6">
            <a href="{{ page_url }}/suite-b/"><img width="460" height="280" src="holder.js/460x280" class="room-image" alt="Suite B" /></a>
          </div>
          <div class="description span6">
            <h2><a href="{{ page_url }}/suite-b/">{{ title }}</a> | <span>{{ range }}</span></h2>
            {{ content }}
          </div>
        </div>
      </div>
      {{ /get_content}}

      {{ get_content from="rooms-and-rates/room-c/"}}
      <div class="row-fluid room">
        <div class="span12">
          <div class="span6">
            <a href="{{ page_url }}/room-c/"><img width="460" height="280" src="holder.js/460x280" class="room-image" alt="Room C" /></a>
          </div>
          <div class="description span6">
            <h2><a href="{{ page_url }}/room-c/">{{ title }}</a> | <span>{{ range }}</span></h2>
            {{ content }}
          </div>
        </div>
      </div>
      {{ /get_content }}

      {{ get_content from="rooms-and-rates/room-d/"}}
      <div class="row-fluid room">
        <div class="span12">
          <div class="span6">
            <a href="{{ page_url }}/room-d/"><img width="460" height="280" src="holder.js/460x280" class="room-image" alt="Room D" /></a>
          </div>
          <div class="description span6">
            <h2><a href="{{ page_url }}/room-d/">{{ title }}</a> | <span>{{ range }}</span></h2>
            {{ content }}
          </div>
        </div>
      </div>
      {{ /get_content }}

    </div> <!-- Rooms List -->

  </div>
</div>
