<div class="main-nav">

  <nav class="top-bar">

    <ul class="title-area">
      <li class="name">
        <a href="/">
          <img src="" alt="White Lace Inn" id="wli-logo" width="">
        </a>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#">
          <span>
            <div class="col-sm-4">Menu</div>
          </span>
        </a>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class>
          <a href="/rooms-and-rates">Rooms &amp; Rates</a>
        </li>
        <li class>
          <a href="/services">Services</a>
        </li>
        <li class>
          <a href="/recipes">Recipes</a>
        </li>
        <li class>
          <a href="/history">History</a>
        </li>
        <li class>
          <a href="/contact">Contact</a>
        </li>
        <li class>
          <a href="/blog">Blog</a>
        </li>
      </section>

  </nav>

</div>
