<div class="header-logo row">
  <div class="col-xs-4 col-md-3">
    <a href="#">
      <!-- <img src="{{ theme:img src="wlitype.jpg" }}" alt="White Lace Inn"> -->
      <!-- <object id="svg1" {{ svgi:theme src="img/white-lace-inn-logo.svg" }}></object> -->
    </a>
  </div>
</div>

<div class="cta">
  <a href="#" class="btn btn-default btn-block" role="button">Check Availability</a>
</div>


<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span>Menu</span>
      </button>
    </div>

    <div class="header-nav">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/rooms-and-rates">Rooms &amp; Rates <span class="sr-only"></span></a></li>
          <li><a href="/services">Services <span class="sr-only"></span></a></li>
          <li><a href="/recipes">Recipes <span class="sr-only"></span></a></li>
          <li><a href="/history">History <span class="sr-only"></span></a></li>
          <li><a href="/contact">Contact <span class="sr-only"></span></a></li>
          <li><a href="/blog">Blog <span class="sr-only"></span></a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>
