<div class="header-logo row">
  <div class="col-xs-4 col-md-3">
  <a href="#" class="thumbnail">
    <!-- <img src="{{ theme:img src="wlitype.jpg" }}" alt="White Lace Inn"> -->
    <object id="svg1" {{ svgi:theme src="img/white-lace-inn-logo.svg" }} type="image/svg+xml"></object>
  </a>
</div>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="row">

      <div class="checkAvailability col-xs-6 col-sm-3">
        <ul class="nav navbar-nav checkAvailability">
          <li role="presentation" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Check Availability<span></span></a>
            <ul class="dropdown-menu" role="menu">
              <form method="POST" class="form">
                <div class="field clear">
                  <p>Arrival Date
                    <input type="text" name="p_start_date" id="datepicker" class="input datepicker" placeholder="Select date" /></p>
                  </div>
                  <div class="field clear">
                    <p>Number of Nights
                      <input type="text" name="nights_number" id="" class="" placeholder="2" /></p>
                    </div>
                    <button type="submit" name="res_submit">Check</button>
                  </form>
                </ul>
              </li>
            </ul>
          </div>

      <div class="navbar-header col-xs-6">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span>Menu</span>
        </button>
      </div>

      <div class="header-nav">
        <div class="collapse navbar-collapse col-sm-9" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/rooms-and-rates">Rooms &amp; Rates <span class="sr-only"></span></a></li>
            <li><a href="/services">Services <span class="sr-only"></span></a></li>
            <li><a href="/recipes">Recipes <span class="sr-only"></span></a></li>
            <li><a href="/history">History <span class="sr-only"></span></a></li>
            <li><a href="/contact">Contact <span class="sr-only"></span></a></li>
            <li><a href="/blog">Blog <span class="sr-only"></span></a></li>
          </ul>
        </div>
      </div>

  </div>
  </div>
</nav>
