<div class="header-logo row">
  <div class="col-xs-4 col-md-3">
    <a href="#" class="thumbnail">
      <!-- <img src="{{ theme:img src="wlitype.jpg" }}" alt="White Lace Inn"> -->
      <img src="holder.js/400x100">
    </a>
  </div>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span>Menu</span>
      </button>
    </div>

    <div class="header-nav">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">Check Availability <span class="sr-only"></span></a></li>
          <li><a href="/rooms-and-rates">Rooms &amp; Rates <span class="sr-only"></span></a></li>
          <li><a href="/services">Services <span class="sr-only"></span></a></li>
          <li><a href="/recipes">Recipes <span class="sr-only"></span></a></li>
          <li><a href="/history">History <span class="sr-only"></span></a></li>
          <li><a href="/contact">Contact <span class="sr-only"></span></a></li>
          <li><a href="/blog">Blog <span class="sr-only"></span></a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>
